body {
    margin: 0;
    padding: 0;
    background-color: aliceblue;
}

main {
    padding: 2rem;
    font-family: sans-serif;

}

section{
    background-color: white;
    padding: 1rem;
    margin-bottom: 1rem;
    box-shadow: inset 1px 1px 1px;
    border-radius: 8px;
}

.ui-component {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}